{% extends "base.html" %} <!-- Heredando (Bloque) plantilla index -->

{% block contenido %}
<script type="text/javascript">
$(document).ready(function(){
	
	$('#registrar_activi').click(function(e){
        
        //Para validar campos vacios
		var porcentaje = $('#porcentaje').find('option').filter('selected').val()

		if (porcentaje == 0){
			bootbox.alert('Debe seleccionar el porcentaje de avance', function() {
			$('.nav-tabs a[href=#tabs_A]').tab('show') ;
			$('#porcentaje').parent('div').addClass('has-error'); // colocar class has-error de boostrap
			$('#porcentaje').focus() 
			});
		}else{
			$('#codigoA,#codigoDepartamento,#cod_actividad,#nom_actividad,#fecha_i,#fechaP_a,#codigoDepartamentoA,#indicaciones,#fecha_f,#fecha_p').prop('disabled',false);
			$.post('',$('#form_asignar').serialize(),function(response){
				if (response == 'existe_cod') {
					bootbox.alert("Esta actividad ya esta registrada", function() {
						$('.nav-tabs a[href=#tabs_A]').tab('show') ;
						$('#codigoA').parent('div').addClass('has-error'); // colocar class has-error de boostrap
					});
				}else{
					url = '/menu/asignaciones/asignar/listandose/'
					window.location = url
				}
			});
		}

    })
    
    $('#fecha_f').datepicker({
		format: "dd/mm/yyyy",
		language: "es",
		autoclose: true,
	})
	
	$('#porcentaje').change(function(){
		var f = new Date();
	    var actual = f.getDate() + '/' +  (f.getMonth() +1)  + '/' +  f.getFullYear()
		$('#fecha_f').val(actual)
	})
	
	///// Para validar campos numericos, alfanumericos y seleccion
    $("#porcentaje").select2();
		
	$('#volver').click(function(){
        url = '/menu/asignaciones/asignar/listandose'
        window.location = url
    })
    $('#limpiar').click(function(){
        $('#porcentaje,#fecha_f').select2('val', '0');
    })
        
})

</script>
<style>
    label{
        font-weight: bold
    }
</style>
    <html>
        <body>
            <form method="post" id="form_asignar" enctype="multipart/form-data">
                {% csrf_token %}
				<br/>
                <div style="width: 100%;text-transform:uppercase;box-shadow: 0 1px 5px rgba(0,0,0,.85); text-align: left" onkeyup="javascript:this.value=this.value.toUpperCase();" class="panel panel-danger">
					<div class="panel-heading">
						<label style="float: left" class="panel-title " ><a style="color: white" href="/menu/asignaciones/asignar/listandose" >Actividad</a>
						> Visualizar</label>
						<br>
					</div>
                    <div class="panel-body">
                        <!-- Apertura de Tabs (Secciones) -->
                        <ul class="nav nav-tabs">
                            <li class="active" data-toggle="popover" data-trigger="focus" title="Datos de la actividad" data-content="En este panel se ingresan los datos requeridos para asignar una actividad" data-placement="top">
                                <a data-toggle="tab" href="#tabs_A">Asignada</a>
                            </li>
							{% if asignar_act.codigoDepartamento_id == user.usuariodepart.departamento.id %}
								
							{% else %}
								<li data-toggle="popover" data-trigger="focus" title="Porcentaje de Avance" data-content='En este panel se actualizan los % de avances' data-placement="top">
									<a data-toggle="tab" href="#tabs_B">% de Avance</a>
								</li>
							{% endif %}
                        </ul>
                        <!-- Cierre de Tabs (Secciones) -->
                        <!-- Apertura de tabs (Contenidos) -->
                        <div class="tab-content">
                            <div id="tabs_A" class="tab-pane fade in active">
                                <div class="panel-body">
                                <!-- Apertura de datos para asignar actividad a otros departamentos  -->
                                <div class="form-group col-xs-1"><label>Usuario</label></div>
                                <div class="form-group col-xs-2">
                                    <span style="color: red; font-weight: bold">{{usuario|upper}}</span>
                                </div>
								<div class="form-group col-xs-5">
									<input id="codigoAB" maxlength="30"  style="width: 100%;" name="codigoAB" type="hidden" value="" disabled='disabled'/>
								</div>
								<div class="form-group col-xs-1"><label>Código</label></div>
								<div class="form-group col-xs-3">
									<input id="codigoA" maxlength="30"  style="width: 100%;text-align: center" name="codigoA" type="text" value='{{asignar_act.codigoA}}' disabled="disabled"/>
								</div>
                                <br/><br/><br/>
                                <fieldset><legend style="text-align: left"></legend></fieldset>
                                <div class="form-group col-xs-1"><label>Gerencia</label></div>
                                <div class="form-group col-xs-11">
                                    <select style="width:100%;text-align: left" class="form-control input-sm" id="codigoDepartamento" name="codigoDepartamento" disabled='disabled'>
                                        <option value="0">Seleccione</option>
                                        {% for dep in lista_depar %}
                                            {% if dep.id == asignar_act.codigoDepartamento_id %}
                                                <option value="{{dep.id}}" selected='selected'>{{dep.nom_departamento}}</option>
                                            {% endif %}
                                            {% if not dep.id == asignar_act.codigoDepartamento_id %}
                                                <option value="{{dep.id}}">{{dep.nom_departamento}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <br/><br/><br/>
                                <div class="form-inline">
                                    <div class="form-group col-xs-1"><label>Código</label></div>
                                    <div class="form-group col-xs-3">
                                        <select style="width:100%;text-align: center" class="form-control input-sm" id="cod_actividad" name="cod_actividad" disabled='disabled'>
                                            <option value="0">Seleccione</option>
                                            {% for cod in list_cod %}
												{% if cod.pk == asignar_act.cod_actividad_id %}
                                                    <option value='{{cod.pk}}' selected='selected'>{{cod.cod_actividad}}</option>
												{% endif %}
												{% if not cod.pk == asignar_act.cod_actividad_id %}
                                                    <option value='{{cod.pk}}'>{{cod.cod_actividad}}</option>
												{% endif %}
											{% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group col-xs-1"><label>Actividad</label></div>
                                    <div class="form-group col-xs-7">
                                        <input id="nom_actividad" maxlength="30"  style="width: 100%;text-align: center" name="nom_actividad" type="text" value='{{asignar_act.nom_actividad}}' disabled="disabled"/>
                                    </div>
                                    <br/><br/><br/>
                                    <div class="form-group col-xs-1"><label>Inicial</label></div>
                                    <div class="form-group col-xs-3">
                                        <input id="fecha_i" maxlength="30"  style="width: 100%;text-align: center" name="fecha_i" type="text" value="{{asignar_act.fecha_i |date:"SHORT_DATE_FORMAT"}}" disabled='disabled'/>
                                    </div>
                                    <div class="form-group col-xs-1"><label>Pautada</label></div>
                                    <div class="form-group col-xs-3">
                                        <input id="fechaP_a" maxlength="30"  style="width: 100%;text-align: center" name="fechaP_a" type="text" value="{{asignar_act.fechaP_a |date:"SHORT_DATE_FORMAT"}}" disabled='disabled'/>
                                    </div>
									<div class="form-group col-xs-3">
                                        <input id="fecha_p" maxlength="30"  style="width: 100%;text-align: center" name="fecha_p" type="hidden" value="{{asignar_act.fecha_p |date:"SHORT_DATE_FORMAT"}}" disabled='disabled'/>
                                    </div>
                                    <br/><br/><br/>
                                    <div class="form-group col-xs-1"><label>Asignar</label></div>
                                    <div class="form-group col-xs-11">
                                        <select style="width:100%;text-align: left" class="form-control input-sm" id="codigoDepartamentoA" name="codigoDepartamentoA" disabled='disabled'>
                                            <option value="0">Seleccione el departamento para asignar actividad</option>
                                            {% for dep in lista_departamento %}
                                                {% if dep.id == asignar_act.codigoDepartamentoA_id %}
                                                    <option value="{{dep.id}}" selected='selected'>{{dep.nom_departamento}}</option>
                                                {% endif %}
                                                {% if not dep.id == asignar_act.codigoDepartamentoA_id %}
                                                    <option value="{{dep.id}}">{{dep.nom_departamento}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                   <br/><br/><br/>
                                   <div class="form-group col-xs-1"><label>Indicaciones</label></div>
                                   <br/>
                                   <br/>
                                   <div class="form-group col-xs-12">
                                       <textarea cols="70" id="indicaciones" name="indicaciones" rows="05" style="width: 100%;text-align: justify" placeholder="Indique su requerimiento" disabled='disabled'>{{asignar_act.indicaciones}}</textarea>
                                   </div>
                               </div>
                            </div>
							<div class="panel-body">
								<div class="form-inline">
									{% if asignar_act.porcentaje == '0' %}
										<div class="form-group col-xs-1"><label></label></div>
									{% else %}
										<div class="form-group col-xs-1"><label>Porcentaje</label></div>
									{% endif %}
									<br/><br/>
									<div class="form-group col-xs-12">
										{% if asignar_act.porcentaje == '1' %}
											<div class="progress progress-striped active">
												<div class="progress-bar progress-bar-danger" style="width: 10%"><span style='color: blue; font-weight: bold'>10%</span></div>
											</div>
										{% endif %}
										{% if asignar_act.porcentaje == '2' %}
											<div class="progress progress-striped active">
												<div class="progress-bar progress-bar-danger" style="width: 20%"><span style='color: blue; font-weight: bold'>20%</span></div>
											</div>
										{% endif %}
										{% if asignar_act.porcentaje == '3' %}
											<div class="progress progress-striped active">
												<div class="progress-bar progress-bar-danger" style="width: 30%"><span style='color: blue; font-weight: bold'>30%</span></div>
											</div>
										{% endif %}
										{% if asignar_act.porcentaje == '4' %}
											<div class="progress progress-striped active">
												<div class="progress-bar progress-bar-warning" style="width: 40%"><span style='color: blue; font-weight: bold'>40%</span></div>
											</div>
										{% endif %}
										{% if asignar_act.porcentaje == '5' %}
											<div class="progress progress-striped active">
												<div class="progress-bar progress-bar-warning" style="width: 50%"><span style='color: blue; font-weight: bold'>50%</span></div>
											</div>
										{% endif %}
										{% if asignar_act.porcentaje == '6' %}
											<div class="progress progress-striped active">
												<div class="progress-bar progress-bar-warning" style="width: 60%"><span style='color: blue; font-weight: bold'>60%</span></div>
											</div>
										{% endif %}
										{% if asignar_act.porcentaje == '7' %}
											<div class="progress progress-striped active">
												<div class="progress-bar progress-bar-warning" style="width: 70%"><span style='color: blue; font-weight: bold'>70%</span></div>
											</div>
										{% endif %}
										{% if asignar_act.porcentaje == '8' %}
											<div class="progress progress-striped active">
												<div class="progress-bar progress-bar-success" style="width: 80%"><span style='color: blue; font-weight: bold'>80%</span></div>
											</div>
										{% endif %}
										{% if asignar_act.porcentaje == '9' %}
											<div class="progress progress-striped active">
												<div class="progress-bar progress-bar-success" style="width: 90%"><span style='color: blue; font-weight: bold'>90%</span></div>
											</div>
										{% endif %}
										{% if asignar_act.porcentaje == '10' %}
											<div class="progress progress-striped active">
												<div class="progress-bar progress-bar-success" style="width: 100%"><span style='color: blue; font-weight: bold'>100%</span></div>
											</div>
										{% endif %}
									</div>
								</div>
							</div>
							
						</div>
						<!--2to tab-->
						<div id="tabs_B" class="tab-pane fade">
							<div class="panel-body">
								<div class="panel-body">
									<fieldset><legend style="text-align: left">Actividad asignada | Actualizar porcentaje de avance</legend></fieldset>
									<div class="form-inline">
										<div class="form-group col-xs-1"style="text-align: left"><label>Pautada</label></div>
										<div class="form-group col-xs-2">
											<input id="fechaP_a" maxlength="30"  style="width: 100%;text-align: center" name="fechaP_a" type="text" value="{{asignar_act.fechaP_a |date:"SHORT_DATE_FORMAT"}}" disabled='disabled'/>
										</div>
										<div class="form-group col-xs-1" style="text-align: left"><label>Actividad</label></div>
										<div class="form-group col-xs-8">
											<input id="nom_actividad" maxlength="30"  style="width: 100%;text-align: left;text-transform:uppercase" name="nom_actividad" type="text" disabled='disabled' placeholder="Nombre de la Actividad" value='{{asignar_act.nom_actividad}}'/>
										</div>
										<br/><br/><br/>
										<div class="form-group col-xs-1"><label>Indicaciones</label></div>
										<div class="form-group col-xs-11">
											<textarea cols="70" id="indicaciones" name="indicaciones" rows="05" style="width: 100%;text-align: justify;text-transform:uppercase" disabled='disabled' placeholder="requerimientos">{{asignar_act.indicaciones}}</textarea>
										</div>
									</div>
								</div>
								<div class="panel-body">
									<div class="form-inline">
										<div class="form-group col-xs-1"  style="text-align: left"><label>Porcentaje</label></div>
										<div class="form-group col-xs-2">
											<select style="width:100%;text-align: center" id="porcentaje" name="porcentaje">
												{% if asignar_act.porcentaje == '0' %}
													<option value='0' selected='selected'>Seleccione</option>
													<option value='1'>10%</option>
													<option value='2'>20%</option>
													<option value='3'>30%</option>
													<option value='4'>40%</option>
													<option value='5'>50%</option>
													<option value='6'>60%</option>
													<option value='7'>70%</option>
													<option value='8'>80%</option>
													<option value='9'>90%</option>
													<option value='10'>100%</option>
												{% endif %}
												
												{% if asignar_act.porcentaje == '1' %}
													<option value='1' selected='selected'>10%</option>
													<option value='2'>20%</option>
													<option value='3'>30%</option>
													<option value='4'>40%</option>
													<option value='5'>50%</option>
													<option value='6'>60%</option>
													<option value='7'>70%</option>
													<option value='8'>80%</option>
													<option value='9'>90%</option>
													<option value='10'>100%</option>
												{% endif %}
												
												{% if asignar_act.porcentaje == '2' %}
													<option value='1' disabled='disabled'>10%</option>
													<option value='2' selected='selected'>20%</option>
													<option value='3'>30%</option>
													<option value='4'>40%</option>
													<option value='5'>50%</option>
													<option value='6'>60%</option>
													<option value='7'>70%</option>
													<option value='8'>80%</option>
													<option value='9'>90%</option>
													<option value='10'>100%</option>
												{% endif %}
												
												{% if asignar_act.porcentaje == '3' %}
													<option value='1' disabled='disabled'>10%</option>
													<option value='2' disabled='disabled'>20%</option>
													<option value='3' selected='selected'>30%</option>
													<option value='4'>40%</option>
													<option value='5'>50%</option>
													<option value='6'>60%</option>
													<option value='7'>70%</option>
													<option value='8'>80%</option>
													<option value='9'>90%</option>
													<option value='10'>100%</option>
												{% endif %}
												
												{% if asignar_act.porcentaje == '4' %}
													<option value='1' disabled='disabled'>10%</option>
													<option value='2' disabled='disabled'>20%</option>
													<option value='3' disabled='disabled'>30%</option>
													<option value='4' selected='selected'>40%</option>
													<option value='5'>50%</option>
													<option value='6'>60%</option>
													<option value='7'>70%</option>
													<option value='8'>80%</option>
													<option value='9'>90%</option>
													<option value='10'>100%</option>
												{% endif %}
												
												{% if asignar_act.porcentaje == '5' %}
													<option value='1' disabled='disabled'>10%</option>
													<option value='2' disabled='disabled'>20%</option>
													<option value='3' disabled='disabled'>30%</option>
													<option value='4' disabled='disabled'>40%</option>
													<option value='5' selected='selected'>50%</option>
													<option value='6'>60%</option>
													<option value='7'>70%</option>
													<option value='8'>80%</option>
													<option value='9'>90%</option>
													<option value='10'>100%</option>
												{% endif %}
												
												{% if asignar_act.porcentaje == '6' %}
													<option value='1' disabled='disabled'>10%</option>
													<option value='2' disabled='disabled'>20%</option>
													<option value='3' disabled='disabled'>30%</option>
													<option value='4' disabled='disabled'>40%</option>
													<option value='5' disabled='disabled'>50%</option>
													<option value='6' selected='selected'>60%</option>
													<option value='7'>70%</option>
													<option value='8'>80%</option>
													<option value='9'>90%</option>
													<option value='10'>100%</option>
												{% endif %}
												
												{% if asignar_act.porcentaje == '7' %}
													<option value='1' disabled='disabled'>10%</option>
													<option value='2' disabled='disabled'>20%</option>
													<option value='3' disabled='disabled'>30%</option>
													<option value='4' disabled='disabled'>40%</option>
													<option value='5' disabled='disabled'>50%</option>
													<option value='6' disabled='disabled'>60%</option>
													<option value='7' selected='selected'>70%</option>
													<option value='8'>80%</option>
													<option value='9'>90%</option>
													<option value='10'>100%</option>
												{% endif %}
												
												{% if asignar_act.porcentaje == '8' %}
													<option value='1' disabled='disabled'>10%</option>
													<option value='2' disabled='disabled'>20%</option>
													<option value='3' disabled='disabled'>30%</option>
													<option value='4' disabled='disabled'>40%</option>
													<option value='5' disabled='disabled'>50%</option>
													<option value='6' disabled='disabled'>60%</option>
													<option value='7' disabled='disabled'>70%</option>
													<option value='8' selected='selected'>80%</option>
													<option value='9'>90%</option>
													<option value='10'>100%</option>
												{% endif %}
												
												{% if asignar_act.porcentaje == '9' %}
													<option value='1' disabled='disabled'>10%</option>
													<option value='2' disabled='disabled'>20%</option>
													<option value='3' disabled='disabled'>30%</option>
													<option value='4' disabled='disabled'>40%</option>
													<option value='5' disabled='disabled'>50%</option>
													<option value='6' disabled='disabled'>60%</option>
													<option value='7' disabled='disabled'>70%</option>
													<option value='8' disabled='disabled'>80%</option>
													<option value='9' selected='selected'>90%</option>
													<option value='10'>100%</option>
												{% endif %}
												
												{% if asignar_act.porcentaje == '10' %}
													<option value='1' disabled='disabled'>10%</option>
													<option value='2' disabled='disabled'>20%</option>
													<option value='3' disabled='disabled'>30%</option>
													<option value='4' disabled='disabled'>40%</option>
													<option value='5' disabled='disabled'>50%</option>
													<option value='6' disabled='disabled'>60%</option>
													<option value='7' disabled='disabled'>70%</option>
													<option value='8' disabled='disabled'>80%</option>
													<option value='9' disabled='disabled'>90%</option>
													<option value='10' selected='selected'>100%</option>
												{% endif %}
											</select>
										</div>
										<div class="form-group col-xs-1"style="text-align: left"><label>Final</label></div>
										<div class="form-group col-xs-3">
											<input id="fecha_f" maxlength="30"  style="width: 100%;text-align: center" name="fecha_f" type="text" value="{{asignar_act.fecha_f |date:"SHORT_DATE_FORMAT"}}" disabled='disabled'/>
										</div>
										<div class="form-group col-xs-12">
											<textarea style="visibility: hidden" cols="70" id="id_des_actividad" name="des_actividad" rows="05" style="width: 100%;text-align: justify; text-transform:uppercase;" placeholder="Descripción de la actividad">{{asignar_act.des_actividad}}</textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
                    </div>
					<input id='user_update' type="hidden" name='user_update' value='{{ user.id }}'>
					<input id='user_create' type="hidden" name='user_create' value='{{asignar_act.user_create.id}}'>
					<div class="row" style="text-align: center">
						<button type="button" id="volver" style="font-weight: bold;font-size: 13px" class="btn btn-warning " >
							&nbsp;<span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Volver
						</button>
						<button type="button" id="registrar_activi" style="font-weight: bold;font-size: 13px" class="btn btn-danger">
							&nbsp;<span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Guardar Cambios
						</button>
						<button type="reset" id="limpiar" style="font-weight: bold;font-size: 13px; background: linear-gradient(#f4eb2f, #e5a32d); color: white " class="btn">
							&nbsp;<span class="glyphicon glyphicon-retweet"></span>&nbsp;&nbsp;Limpiar
						</button>
					</div>
                    
                </div>
        </form>
    </body>
</html>
{% endblock %}